<div id="page">
  <nav du-spy-context include-replace ng-include="'partials/nav.html'"></nav>

  <div class="timeline-container" du-spy-context>
    <div id="project-0" du-scrollspy="project-0" class="fh5co-timeline">
      <div class="line"></div>
      <h1>We took a journey into the story of <span>American Made</span> when we partnered with Universal Pictures.</h1>
      <a class="link" style="opacity:0;">See the Case Study</a>
      <br>
    </div>
    <div id="project-1" du-scrollspy="project-1" class="fh5co-timeline fh5co-timeline--long fh5co-timeline--panoramic">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" x="-2.0%" y="40%" transform="scale(1.005)">
            Directionality
          </text>
          <text class="small" x="-1.7%" y="40.3%" transform="scale(1.003)">
            Directionality
          </text>
          <text class="small" x="-1.4%" y="40.6%" transform="scale(1.001)">
            Directionality
          </text>
          <text class="small" x="-1.1%" y="40.9%" transform="scale(0.9989999999999999)">
            Directionality
          </text>
          <text class="small" x="0.8%" y="41.2%" transform="scale(0.9969999999999999)">
            Directionality
          </text>
          <text class="small" x="0.5%" y="41.5%" transform="scale(0.9949999999999999)">
            Directionality
          </text>
          <text class="small" x="0.2%" y="41.8%" transform="scale(0.9929999999999999)">
            Directionality
          </text>
      </g>
      <g class="right">
          <text class="small" x="55.0%" y="65%" transform="scale(1.005)">
            Inspiration
          </text>
          <text class="small" x="55.3%" y="65.3%" transform="scale(1.003)">
            Inspiration
          </text>
          <text class="small" x="55.6%" y="65.6%" transform="scale(1.001)">
            Inspiration
          </text>
          <text class="small" x="55.9%" y="65.9%" transform="scale(0.9989999999999999)">
            Inspiration
          </text>
          <text class="small" x="56.2%" y="66.2%" transform="scale(0.9969999999999999)">
            Inspiration
          </text>
          <text class="small" x="56.5%" y="66.5%" transform="scale(0.9949999999999999)">
            Inspiration
          </text>
          <text class="small" x="56.8%" y="66.8%" transform="scale(0.9929999999999999)">
            Inspiration
          </text>
      </g>
      
    </svg>
    <div class="line"></div>
    <div class="timeline-content timeline-content--right timeline-content--crop-32-29"> 
      <a href="http://american-made-a.nbcuxlab.com/#home" target="_blank" class="img-mask">
        <div class="mask">
          <object data="/images/american-made/film-site.svg" class="" type="image/svg+xml"></object>
          <!-- <video src="http://american-made-a.nbcuxlab.com/img/_videos/videos_bg2.mp4" loop autoplay></video> -->
        </div>
      </a>
      <div class="copy copy--masking">
        <h2>The Film Site</h2>
        <p>Using our design guide, we prototyped multiple iterations of the site. We A/B tested each live version with Universal Pictures in order to hone in on the optimal design. From QA sessions on more devices than we can count to the back and forth with the film crew, we tweaked until it was time to deploy.
          <p>Our final design is the product of many late nights and too many cups of caffeine. It all paid off though—the film earned $16.7 million at the box office the first weekend and there was a 63% conversion rate from our site to purchase tickets!</p>
          <div class="links">
            <a href="http://american-made-a.nbcuxlab.com/#home" target="_blank">
              <div class="underline-button"></div>
              <span>Visit Full Website</span>
              <div class="underline"></div>
            </a>
          </div>
        </div>
    </div>
  </div>
  <div id="project-2" du-scrollspy="project-2" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" x="0.0%" y="25%" transform="scale(1.005)">
            Interactivity
          </text>
          <text class="small" x="0.3%" y="25.3%" transform="scale(1.003)">
            Interactivity
          </text>
          <text class="small" x="0.7%" y="25.6%" transform="scale(1.001)">
            Interactivity
          </text>
          <text class="small" x="1.1%" y="25.9%" transform="scale(0.9989999999999999)">
            Interactivity
          </text>
          <text class="small" x="1.4%" y="26.2%" transform="scale(0.9969999999999999)">
            Interactivity
          </text>
          <text class="small" x="1.7%" y="26.5%" transform="scale(0.9949999999999999)">
            Interactivity
          </text>
          <text class="small" x="2.0%" y="26.8%" transform="scale(0.9929999999999999)">
            Interactivity
          </text>
      </g>
      <g class="right">
          <text class="small" x="55.0%" y="45%" transform="scale(1.005)">
            Immersive
          </text>
          <text class="small" x="55.3%" y="45.3%" transform="scale(1.003)">
            Immersive
          </text>
          <text class="small" x="55.6%" y="45.6%" transform="scale(1.001)">
            Immersive
          </text>
          <text class="small" x="55.9%" y="45.9%" transform="scale(0.9989999999999999)">
            Immersive
          </text>
          <text class="small" x="56.2%" y="46.2%" transform="scale(0.9969999999999999)">
            Immersive
          </text>
          <text class="small" x="56.5%" y="46.5%" transform="scale(0.9949999999999999)">
            Immersive
          </text>
          <text class="small" x="56.8%" y="46.8%" transform="scale(0.9929999999999999)">
            Immersive
          </text>
      </g>
      <g class="left">
          <text class="medium" x="8.0%" y="65%" transform="scale(1.005)">
            110%
          </text>
          <text class="medium" x="8.3%" y="65.3%" transform="scale(1.003)">
            110%
          </text>
          <text class="medium" x="8.6%" y="65.6%" transform="scale(1.001)">
            110%
          </text>
          <text class="medium" x="8.9%" y="65.9%" transform="scale(0.9989999999999999)">
            110%
          </text>
          <text class="medium" x="9.2%" y="66.2%" transform="scale(0.9969999999999999)">
            110%
          </text>
          <text class="medium" x="9.5%" y="66.5%" transform="scale(0.9949999999999999)">
            110%
          </text>
          <text class="medium" x="9.8%" y="66.8%" transform="scale(0.9929999999999999)">
            110%
          </text>
      </g>
    </svg>
      <div class="line"></div>
      <div class="timeline-content timeline-content--left timeline-content--crop-32-32">
        <a href="http://american-made-a.nbcuxlab.com/img/map-code-folder/map-code.svg" target="_blank" class="img-mask">
          <div class="mask">
            <!-- <video src="/images/american-made/route.mp4" loop autoplay>
            </video> -->
            <object data="/images/american-made/map-code2.svg" class="" type="image/svg+xml"></object>
          </div>
        </a>
        <div class="copy copy--masking">
          <h2>Fly With Barry</h2>
          <p>Call us go-getters if you will, but we wanted to do more. We created an interactive feature to accompany the film and Universal Pictures loved it so much they told us to go ahead and build it out.</p> 
          <p>This map follows the international escapade of the protagonist, Barry Seal, as he delivers drugs and arms throughout Central and South America.</p>
          <div class="links">
            <a href="http://american-made-a.nbcuxlab.com/img/map-code-folder/map-code.svg" target="_blank">
              <div class="underline-button"></div>
              <span>Experience Fly With Barry</span>
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="project-3" du-scrollspy="project-3" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
      <g class="right">
        <text class="small" x="55.0%" y="35%" transform="scale(1.005)">
          Responsive
        </text>
        <text class="small" x="55.3%" y="35.3%" transform="scale(1.003)">
          Responsive
        </text>
        <text class="small" x="55.6%" y="35.6%" transform="scale(1.001)">
          Responsive
        </text>
        <text class="small" x="55.9%" y="35.9%" transform="scale(0.9989999999999999)">
          Responsive
        </text>
        <text class="small" x="56.2%" y="36.2%" transform="scale(0.9969999999999999)">
          Responsive
        </text>
        <text class="small" x="56.5%" y="36.5%" transform="scale(0.9949999999999999)">
          Responsive
        </text>
        <text class="small" x="56.8%" y="36.8%" transform="scale(0.9929999999999999)">
          Responsive
        </text>
      </g>
      <g class="left">
          <text class="medium" x="2.0%" y="65%" transform="scale(1.005)">
            Mobile
          </text>
          <text class="medium" x="2.3%" y="65.3%" transform="scale(1.003)">
            Mobile
          </text>
          <text class="medium" x="2.6%" y="65.6%" transform="scale(1.001)">
            Mobile
          </text>
          <text class="medium" x="2.9%" y="65.9%" transform="scale(0.9989999999999999)">
            Mobile
          </text>
          <text class="medium" x="3.2%" y="66.2%" transform="scale(0.9969999999999999)">
            Mobile
          </text>
          <text class="medium" x="3.5%" y="66.5%" transform="scale(0.9949999999999999)">
            Mobile
          </text>
          <text class="medium" x="3.8%" y="66.8%" transform="scale(0.9929999999999999)">
            Mobile
          </text>
      </g>
    </svg>
    <div class="line"></div>
    <div class="timeline-content timeline-content--right timeline-content--crop-32-29">
      <a href="http://american-made-a.nbcuxlab.com/#home" target="_blank" class="img-mask">
        <div class="mask">
            <object data="/images/american-made/mobile.svg" class="" type="image/svg+xml"></object>
        </div>
      </a>
      <div class="copy copy--masking">
        <h2>Mobile-First Design</h2>
          <p>We care about delivering a quality user experience no matter what device you’re on. A high percentage of the film site's traffic will be from mobile devices. Thus, we adopted a mobile-first approach that focuses on bare essential functionality before moving onto more features for bigger screens.</p>
          <div class="links">
            <a href="http://american-made-a.nbcuxlab.com/#home" target="_blank">
              <div class="underline-button"></div>
              <span>Visit Full Website</span>
              <div class="underline"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="project-4" du-scrollspy="project-4" class="fh5co-timeline fh5co-timeline--medium fh5co-timeline--panoramic">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" >
        <g class="left">
          <text class="small" x="-2.0%" y="25%" transform="scale(1.005)">
            Develop
          </text>
          <text class="small" x="-1.7%" y="25.3%" transform="scale(1.003)">
            Develop
          </text>
          <text class="small" x="-1.4%" y="25.6%" transform="scale(1.001)">
            Develop
          </text>
          <text class="small" x="-1.1%" y="25.9%" transform="scale(0.9989999999999999)">
            Develop
          </text>
          <text class="small" x="0.8%" y="26.2%" transform="scale(0.9969999999999999)">
            Develop
          </text>
          <text class="small" x="0.5%" y="26.5%" transform="scale(0.9949999999999999)">
            Develop
          </text>
          <text class="small" x="0.2%" y="26.8%" transform="scale(0.9929999999999999)">
            Develop
          </text>
      </g>
      <g class="right">
        <text class="large" x="65.0%" y="45%" transform="scale(1.005)">
          QA
        </text>
        <text class="large" x="65.3%" y="45.3%" transform="scale(1.003)">
          QA
        </text>
        <text class="large" x="65.6%" y="45.6%" transform="scale(1.001)">
          QA
        </text>
        <text class="large" x="65.9%" y="45.9%" transform="scale(0.9989999999999999)">
          QA
        </text>
        <text class="large" x="66.2%" y="46.2%" transform="scale(0.9969999999999999)">
          QA
        </text>
        <text class="large" x="66.5%" y="46.5%" transform="scale(0.9949999999999999)">
          QA
        </text>
        <text class="large" x="66.8%" y="46.8%" transform="scale(0.9929999999999999)">
          QA
        </text>
      </g>
      <g class="left">
        <text class="medium" x="8.0%" y="65%" transform="scale(1.005)">
          Deploy
        </text>
        <text class="medium" x="8.3%" y="65.3%" transform="scale(1.003)">
          Deploy
        </text>
        <text class="medium" x="8.6%" y="65.6%" transform="scale(1.001)">
          Deploy
        </text>
        <text class="medium" x="8.9%" y="65.9%" transform="scale(0.9989999999999999)">
          Deploy
        </text>
        <text class="medium" x="9.2%" y="66.2%" transform="scale(0.9969999999999999)">
          Deploy
        </text>
        <text class="medium" x="9.5%" y="66.5%" transform="scale(0.9949999999999999)">
          Deploy
        </text>
        <text class="medium" x="9.8%" y="66.8%" transform="scale(0.9929999999999999)">
          Deploy
        </text>
      </g>
    </svg>
    <div class="line"></div>
    <div class="timeline-content timeline-content--right timeline-content--crop-32-32">
      <a href="http://american-made.nbcuxlab.com/design-guide/" target="_blank" class="img-mask">
        <div class="mask">
          <object data="/images/american-made/design-guide.svg" class="" type="image/svg+xml"></object>
          <!-- <img src="/images/american-made/columbia.gif"> -->
          <!-- <video src="/images/american-made/columbia.mp4" loop autoplay></video> -->
        </div>
      </a>
      <div class="copy copy--masking">
        <h2>Design Guide</h2>
        <p>Our team creates live coded documents to house our design research. We composed a design guide to capture our ideas for the site’s look and feel, style, and UI components.</p>
        <div class="links">
          <a href="http://american-made.nbcuxlab.com/design-guide/" target="_blank">
            <div class="underline-button"></div>
            <!-- <span>Visit Design Guide</span> -->
            <div class="underline"></div>
          </a>
        </div>
      </div>
      </div>
    </div>
  </span>
</div>


