<div id="page">
  <!-- <video style="position: absolute; height: 1px; width: 1px; opacity: 0;" autoplay loop class="img-responsive hidden-xs" src="images/american-made/out.mp4"></video> -->
  <nav ng-include="'partials/nav.html'"></nav>
  <div id="preloader">
    <div class="preloader-text">
      <div class="word">
        <span>L</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
      </div>
      <div class="word">
        <span>P</span>
        <span>i</span>
        <span>x</span>
        <span>e</span>
        <span>l</span>
        <span>s</span>
      </div>
    </div>
    <!-- <div class="broswer-warning">
      <span>Best viewed in Chrome or Safari</span>
    </div> -->
  </div>
</div>
